In [3]:
import pandas as pd
import numpy as np

In [4]:
series = pd.Series([33, 45, 82, 73, 91, 12])
series

0    33
1    45
2    82
3    73
4    91
5    12
dtype: int64

In [5]:
fruits = pd.Series({'apples': 2, 'bananes': 5, 'oranges': 3})
fruits

apples     2
bananes    5
oranges    3
dtype: int64

In [6]:
from_array = pd.Series(np.random.randint(1,10, size=5))
from_array

0    8
1    5
2    7
3    4
4    4
dtype: int32

In [7]:
indexing = pd.Series([15, 165, 42], ['age', 'height', 'weight'])
indexing

age        15
height    165
weight     42
dtype: int64

In [9]:
from_list = pd.Series(list("Hallo World!"))
from_list

0     H
1     a
2     l
3     l
4     o
5
6     W
7     o
8     r
9     l
10    d
11    !
dtype: object

In [11]:
# sorting
from_list.sort_index(ascending=False)

11    !
10    d
9     l
8     r
7     o
6     W
5
4     o
3     l
2     l
1     a
0     H
dtype: object

In [12]:
from_list.sort_values(ascending=False)

8     r
4     o
7     o
2     l
3     l
9     l
10    d
1     a
6     W
0     H
11    !
5
dtype: object

In [13]:
# is in??
from_list.isin(['l'])

0     False
1     False
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
dtype: bool

In [14]:
from_list[from_list.isin(['l'])]

2    l
3    l
9    l
dtype: object

In [15]:
from_list.keys()

RangeIndex(start=0, stop=12, step=1)

In [17]:
from_list.values

array(['H', 'a', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!'],
      dtype=object)

In [18]:
from_list.items()

In [19]:
list(from_list.items())

[(0, 'H'),
 (1, 'a'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'W'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd'),
 (11, '!')]

In [20]:
dataframe = pd.read_csv('Salaries.csv')

In [25]:
df = pd.DataFrame(np.random.randint(34, 148, 36).reshape(6,6))
df

     0    1    2    3    4    5
0  106  105   93   58  103   84
1   45  141   51   51   41   99
2   81  119  117   82   77   78
3   57   63  133   96   88  131
4   48  139  126  132  103  114
5   93   94  115   68  116   67

In [30]:
df.head(4)

     0    1    2   3    4    5
0  106  105   93  58  103   84
1   45  141   51  51   41   99
2   81  119  117  82   77   78
3   57   63  133  96   88  131

In [29]:
df.tail(3)

    0    1    2    3    4    5
3  57   63  133   96   88  131
4  48  139  126  132  103  114
5  93   94  115   68  116   67

In [31]:
df.sample()

    0   1    2   3    4   5
5  93  94  115  68  116  67

In [33]:
df.shape

(6, 6)